 <style>
         
        h1 {
            color: rgb(200,30,90);
        }
            
        #description-of-hawaii {
            color: rgb(25,17,250);
        }
            
        .reasons {
            background-color: rgb(255,182,193);
        }
            
            body {
                background-color: rgb(247,245,236);
            }
            

        </style>
